Repository barcradio/ultra-tracker, pull requests merged in 2024-08, with the labels that each got.

#59 48 stats UI
  src/main/database/athlete-db.ts
  src/main/database/runners-db.ts
  src/main/index.ts
  src/main/ipc/dbsettings-ipc.ts
  src/main/ipc/init-ipc.ts
  src/main/ipc/runnerform-ipc.ts
  src/main/ipc/stats-ipc.ts
  src/main/lib/stat-engine.ts
  src/renderer/src/features/DBsettingsHub/DBsettingsHub.tsx
  src/renderer/src/features/RunnerEntry/EditRunner.tsx
  src/renderer/src/features/RunnerEntry/RunnerEntry.tsx
  src/renderer/src/features/RunnerEntry/Stats.tsx
  src/renderer/src/features/RunnerEntry/useFakeData.tsx
  src/renderer/src/hooks/useFileDialogs.tsx
  src/renderer/src/hooks/useRunnerData.tsx
  src/renderer/src/hooks/useStatsData.tsx
  src/renderer/src/hooks/useTiming.tsx
  src/shared/models.ts
Labels: feature, front-end, back-end

#63 62 import dns / dnf csv files
  resources/config/bear-100-dnf-template.csv
  src/main/database/athlete-db.ts
  src/main/database/stations-db.ts
  src/main/ipc/dbsettings-ipc.ts
  src/main/lib/file-dialogs.ts
  src/renderer/src/features/DBsettingsHub/DBsettingsHub.tsx
  src/renderer/src/hooks/useFileDialogs.tsx
  src/shared/models.ts
Labels: back-end

#64 Edit Runner Improvements
  package.json
  pnpm-lock.yaml
  src/main/database/runners-db.ts
  src/main/database/timingRecords-db.ts
  src/renderer/src/components/DatePicker.tsx
  src/renderer/src/components/Drawer.tsx
  src/renderer/src/components/TextInput.tsx
  src/renderer/src/features/RunnerEntry/EditRunner.tsx
  src/renderer/src/features/RunnerEntry/RunnerEntry.tsx
  src/renderer/src/features/RunnerEntry/RunnerFormStats.tsx
  src/renderer/src/features/RunnerEntry/hooks/useSelectRunnerForm.tsx
  src/renderer/src/features/Sidebar/SidebarButton.tsx
  src/renderer/src/hooks/useRunnerData.tsx
  src/renderer/src/hooks/useTiming.tsx
  src/renderer/src/lib/datetimes.ts
  src/renderer/src/lib/primeReactTheme.tsx
  src/renderer/src/main.tsx
  tailwind.config.js
Labels: front-end, back-end

#71 feat(csv): add incremental export to CSV file
  src/main/database/runners-db.ts
  src/main/database/timingRecords-db.ts
  src/main/ipc/dbsettings-ipc.ts
  src/main/lib/file-dialogs.ts
  src/preload/data.ts
  src/renderer/src/features/DBsettingsHub/DBsettingsHub.tsx
  src/renderer/src/hooks/ipc/useFileDialogs.tsx
Labels: feature, back-end

#73 72 app settings
  package.json
  pnpm-lock.yaml
  src/main/database/athlete-db.ts
  src/main/database/runners-db.ts
  src/main/database/stations-db.ts
  src/main/database/timingRecords-db.ts
  src/main/index.ts
  src/main/ipc/settings-ipc.ts
  src/main/lib/file-dialogs.ts
  src/preload/data.ts
  src/preload/index.d.ts
  src/renderer/src/features/DataGrid/hooks/useSortState.tsx
  src/renderer/src/hooks/data/useTiming.tsx
Labels: feature, back-end

#77 Moved table handling
  resources/config/stations-template.json
  src/main/database/athlete-db.ts
  src/main/database/connect-db.ts
  src/main/database/runners-db.ts
  src/main/database/stations-db.ts
  src/main/database/table-definitions.ts
  src/main/database/tables-db.ts
  src/main/database/timingRecords-db.ts
  src/main/index.ts
  src/main/ipc/dbsettings-ipc.ts
  src/main/ipc/runnerform-ipc.ts
  src/renderer/src/features/RunnerEntry/RunnerFormStats.tsx
Labels: back-end

#78 29 data validation
  src/main/database/runners-db.ts
  src/main/database/timingRecords-db.ts
  src/renderer/src/hooks/data/useTiming.tsx
  src/shared/enums.ts
  src/shared/models.ts
Labels: feature, back-end

#79 Fix export headers and directory handling
  src/main/database/athlete-db.ts
  src/main/database/runners-db.ts
  src/main/database/stations-db.ts
  src/main/database/timingRecords-db.ts
  src/main/index.ts
  src/main/ipc/settings-ipc.ts
  src/main/lib/file-dialogs.ts
  src/preload/data.ts
  src/renderer/src/features/SettingsHub/SettingsHub.tsx
  src/renderer/src/hooks/ipc/useSettingsUtilities.tsx
Labels: back-end

#82 fix(timing): fixed handling of timing record entries and duplicates
  src/main/database/timingRecords-db.ts
Labels: bug, back-end

#83 feat(stats): count duplicate timingRecords as errors
  src/main/database/runners-db.ts
  src/main/lib/stat-engine.ts
Labels: enhancement

#84 Header fix (actually)
  src/main/database/runners-db.ts
  src/main/database/stations-db.ts
  src/main/database/tables-db.ts
Labels: bug, back-end

#85 fix(db): fixed issues with eventLogger
  src/main/database/athlete-db.ts
  src/main/database/eventLogger-db.ts
  src/main/database/table-definitions.ts
Labels: back-end
